body{
    background: white;
    color:  rgb(75, 69, 69);
    font-family: sans-serif;
}

.btn{
    padding: 0.25rem 0.5rem;
    border: 3px solid #fefefe;
    border-radius: 7px;
    color: #fefefe;
    background: rgba(0,0,0,0.6);
    font-size: 15px;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}

span{
    font-size: 35px;
    font-style: initial;
    font-family: sans-serif;
}

h1{
    font-size: 40px;
    font-weight: normal;
}

.container{
    margin: 0;
    border: 0;
    padding: 1rem;
}
