body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 0.25rem 0.5rem;
    border: 3px solid #fefefe;
    border-radius: 7px;
    color: #fefefe;
    background: rgba(0,0,0,0.6);
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}

span{
    font-size: 25px;
    font-style: initial;
}

h1{
    font-size: 40px;
    font-weight: lighter;
}
